# A TOML linter such as https://taplo.tamasfe.dev/ can use this schema to validate your config.
# If you encounter any issues, please make an issue at https://github.com/yazi-rs/schemas.
"$schema" = "https://yazi-rs.github.io/schemas/keymap.json"

[mgr]
prepend_keymap = [
    { on = "q",          run = "close",              desc = "Close the current tab, or quit if it is last tab" },
    { on = "<C-c>",      run = "quit",               desc = "Exit the process" },

    { on = [ "S-s" ],    run = 'shell "$SHELL" --block --confirm', desc = "Open shell here" },

    { on = [ "<BackTab>" ],  run = "tab_switch -1 --relative",  desc = "Switch to the previous tab" },
    { on = [ "<Tab>" ],  run = "tab_switch 1 --relative",  desc = "Switch to the next tab" },
    { on = [ "g", "t" ], run = "tab_switch 1 --relative",  desc = "Switch to the next tab" },
    { on = [ "g", "T" ], run = "tab_switch -1 --relative",  desc = "Switch to the previous tab" },

    { on = [ "l" ],      run = [ "plugin smart-enter", "escape --visual --select" ], desc = "Enter the child directory, or open file." },
    { on = [ "L" ],      run = "plugin smart-enter --args='detatch'", desc = "Open in new window." },
    { on = [ "=" ],      run = """
        shell 'printf "Mode Bits: "; read ans; chmod $ans "$@"' --block --confirm
    """, desc = "chmod" },

    { on = [ "b", "s" ],  run = "plugin bookmarks save",        desc = "Save current position as a bookmark" },
    { on = [ "b", "d" ],  run = "plugin bookmarks delete",      desc = "Delete a bookmark" },
    { on = [ "b", "D" ],  run = "plugin bookmarks delete_all",  desc = "Delete all bookmarks" },
    { on = [ "'" ],       run = "plugin bookmarks jump",        desc = "Jump to a bookmark" },

    { on = [ "g", "p" ],       run = "cd ~/projects",   desc = "Goto pr" },
    { on = [ "g", "w" ],       run = "cd ~/WGG",   desc = "Goto wgg" },
    { on = [ "g", "s" ],       run = "cd ~/SNV",   desc = "Goto snv" },
    { on = [ "g", "m" ],       run = "cd ~/MCH",   desc = "Goto mch" },
]
