[Desktop Entry]
Name=Switch to Gaming Mode
Exec=steamos-session-select gamescope
Icon=gaming-return
Terminal=false
Type=Application
StartupNotify=false
